<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Elasticsearch.Net" version="7.16.0" targetFramework="net462" />
  <package id="FAKEBuildScript" version="1.2.7" targetFramework="net462" />
  <package id="Microsoft.ApplicationInsights" version="2.20.0" targetFramework="net462" />
  <package id="Microsoft.ApplicationInsights.Agent.Intercept" version="2.4.0" targetFramework="net462" />
  <package id="Microsoft.ApplicationInsights.DependencyCollector" version="2.20.0" targetFramework="net462" />
  <package id="Microsoft.ApplicationInsights.PerfCounterCollector" version="2.20.0" targetFramework="net462" />
  <package id="Microsoft.ApplicationInsights.Web" version="2.20.0" targetFramework="net462" />
  <package id="Microsoft.ApplicationInsights.WindowsServer" version="2.20.0" targetFramework="net462" />
  <package id="Microsoft.ApplicationInsights.WindowsServer.TelemetryChannel" version="2.20.0" targetFramework="net462" />
  <package id="Microsoft.AspNet.TelemetryCorrelation" version="1.0.8" targetFramework="net462" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net462" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.3" targetFramework="net462" />
  <package id="Microsoft.Azure.KeyVault.Core" version="1.0.0" targetFramework="net462" />
  <package id="Microsoft.Azure.Search" version="3.0.4" targetFramework="net462" />
  <package id="Microsoft.CSharp" version="4.6.0" targetFramework="net462" />
  <package id="Microsoft.Data.Edm" version="5.8.4" targetFramework="net462" />
  <package id="Microsoft.Data.OData" version="5.8.4" targetFramework="net462" />
  <package id="Microsoft.Data.Services.Client" version="5.8.4" targetFramework="net462" />
  <package id="Microsoft.IdentityModel.Clients.ActiveDirectory" version="3.18.0" targetFramework="net462" />
  <package id="Microsoft.Rest.ClientRuntime" version="2.3.7" targetFramework="net462" />
  <package id="Microsoft.Rest.ClientRuntime.Azure" version="3.3.6" targetFramework="net462" />
  <package id="Microsoft.Spatial" version="7.2.0" targetFramework="net462" />
  <package id="Microsoft.Web.WebJobs.Publish" version="2.0.0" targetFramework="net462" />
  <package id="Microsoft.WindowsAzure.ConfigurationManager" version="3.2.3" targetFramework="net462" />
  <package id="NEST" version="7.16.0" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net462" />
  <package id="NLog" version="4.3.7" targetFramework="net462" />
  <package id="NuGet.CommandLine" version="3.3.0" targetFramework="net462" />
  <package id="SFA.DAS.Configuration" version="1.0.0.53229" targetFramework="net462" />
  <package id="SFA.DAS.Configuration.AzureTableStorage" version="1.0.0.49931" targetFramework="net462" />
  <package id="SFA.DAS.NLog.Logger" version="1.0.0.26805" targetFramework="net462" />
  <package id="SFA.DAS.NLog.Targets.Redis" version="1.0.0.47445" targetFramework="net462" />
  <package id="StackExchange.Redis" version="1.1.608" targetFramework="net462" />
  <package id="structuremap" version="3.1.1.134" targetFramework="net462" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net462" />
  <package id="System.ComponentModel.EventBasedAsync" version="4.0.11" targetFramework="net462" />
  <package id="System.Diagnostics.DiagnosticSource" version="5.0.0" targetFramework="net462" />
  <package id="System.Dynamic.Runtime" version="4.0.0" targetFramework="net462" />
  <package id="System.Linq.Queryable" version="4.0.0" targetFramework="net462" />
  <package id="System.Memory" version="4.5.4" targetFramework="net462" />
  <package id="System.Net.Requests" version="4.0.11" targetFramework="net462" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net462" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="5.0.0" targetFramework="net462" />
  <package id="System.Spatial" version="5.8.4" targetFramework="net462" />
  <package id="Topshelf" version="3.3.1" targetFramework="net462" />
  <package id="Topshelf.Azure" version="1.4.1" targetFramework="net462" />
  <package id="Unofficial.Microsoft.WindowsAzure.ServiceRuntime" version="2.7.0.0" targetFramework="net462" />
  <package id="WindowsAzure.Storage" version="6.2.0" targetFramework="net462" />
</packages>