@model SFA.DAS.Support.Portal.Web.ViewModels.AccountDetailViewModel
@{
    ViewBag.modelTitle = Model.Account.DasAccountName;
    ViewBag.accountId = Model.Account.HashedAccountId;
    ViewBag.dateRegistered = Model.Account.DateRegistered;
    ViewBag.currentSection = "account";
    ViewBag.currentPage = NavPages.Overview;
}

@if (Model.Account != null)
{
    <h1>
        Organisations
    </h1>
    foreach (var organisation in Model.Account.LegalEntities)
    {
        <dl>

            <dt>Name:</dt>
            <dd>@organisation.Name</dd>

            <dt>Address:</dt>
            <dd>@organisation.Address</dd>

            <dt>Source:</dt>
            <dd>@organisation.Source</dd>
        </dl>

        <hr/>
    }
}
else
{
    <p>Account not found</p>
}