@model SFA.DAS.Support.Portal.Web.ViewModels.HeaderViewModel

<header role="banner" id="global-header" class="with-proposition">
    <div class="header-wrapper">
        <div class="header-global">
            <div class="header-logo">
                <a href="/" title="Go to the apprenticeship service support portal homepage" id="no-logo" class="content">
                    Apprenticeship Service Support
                </a>
            </div>
        </div>
        <div class="pull-right login-details">
            @Html.Partial("_LoginPartial")
        </div>
    </div>
</header>
<div id="global-header-bar"></div>