@model SFA.DAS.Support.Portal.Web.ViewModels.HeaderViewModel

<header>
    <a href="/">
        <div class="service-name">DAS Support</div></a>
        <div class="user-name">@Html.Partial("_LoginPartial")</div>
</header>