@model SFA.DAS.Support.Portal.Web.ViewModels.HeaderViewModel

<header role="banner" id="global-header" class="with-proposition">
    <div class="header-wrapper">
        <div class="header-global">
            <div class="header-logo">
                <a href="/" title="Go to the apprenticeship service support portal homepage" id="no-logo" class="content">
                    Apprenticeship Service Support
                </a>
            </div>
        </div>
        <!-- <div class="header-proposition">
            <div class="content">
                <nav id="proposition-menu">
                    <a href="/" id="proposition-name">Apprenticeship Service Support</a>
                    <p id="proposition-link">
                        @Html.Partial("_LoginPartial")
                    </p>
                </nav>
            </div>
        </div> -->
        <div class="pull-right login-details">
            <!-- @Model.Username -->
            @Html.Partial("_LoginPartial")
        </div>
    </div>
</header>
<div id="global-header-bar"></div>