@model SFA.DAS.Support.Portal.Health.Model.HealthAccountsModel
@{
    ViewBag.Title = "Start";
}
<html>
<head>
    <style>
        body {
            background-color: whitesmoke;
            color: rgb(0, 0, 0);
            color: rgba(0, 0, 0, .8);
            font-family: Georgia, Cambria, "Times New Roman", Times, serif;
        }

        .container {
            background-color: white;
            margin: 50px auto;
            padding: 5px 10px;
            width: 1000px;
        }

        .container h2 {
            color: rgb(0, 0, 0);
            color: rgba(0, 0, 0, .8);
            padding: 10px;
        }

        .container .status {
            min-height: 10px;
            padding: 20px;
        }

        .container .status > div {
            font-weight: bold;
            padding: 10px;
        }

        .container .elasticsearch {
            min-height: 10px;
            padding: 20px;
        }

        dl.table-display {
            background-color: white;
            display: table;
            margin-bottom: 30px;
            width: 60%;
        }

        dl.table-display dt {
            clear: left;
            float: left;
            font-weight: bold;
            margin: 0;
            padding: 5px;
            width: 220px;
        }

        dl.table-display dd {
            margin-left: 230px;
            padding: 5px;
        }

        dl.table-display dd.first { border-top: 1px solid #999; }

        .services { padding: 20px; }

        .services > div { padding: 1px; }

        .status-lbl.red { border-bottom: 5px solid red; }

        .status-lbl.green { border-bottom: 5px solid green; }
    </style>
</head>

<body>
<div class="container">
    <div class="status">
        <h2>Support Console accounts status</h2>
    </div>
    <p>
        Api Status: <span class="status-lbl @Model.ApiStatus.ToString().ToLower()">@Model.ApiStatus</span>
    </p>
</div>
</body>
</html>