@{
    ViewBag.modelTitle = "ABC Midlands";
    ViewBag.accountId = "A1B2C";
    ViewBag.currentSection = "account";
    ViewBag.currentPage = "finance";
}
<h1 class="heading-xlarge">Finance</h1>
<p class="lede">Enter the following information to verify the caller's identity</p>
<form method="POST" action="">
    <div class="form-group">
        <label class="form-label" for="">3rd &amp; 4th characters of a PAYE scheme</label>
        <input class="form-control" type="text" maxlength="2">
    </div>
    <div class="form-group">
        <label class="form-label" for="">
            Current levy balance 
            <span class="form-hint">Excluding pence e.g. 11003</span>
        </label>
        <input class="form-control" type="text">
    </div>
    <div class="form-group">
        <input type="submit" class="button" value="Submit" />
    </div>
</form>
