@{
    ViewBag.modelTitle = "ABC Midlands";
    ViewBag.accountId = "A1B2C";
    ViewBag.currentSection = "account";
    ViewBag.currentPage = "finance";
}

<h1 class="heading-xlarge">Finance</h1>

<div class="data-wrap">
    <div class="data">
        <dl>
            <dt>Current funds</dt>
            <dd class="">£0</dd>
        </dl>
    </div>
</div>

<table>
    <thead>
        <tr>
            <th scope="col">Payment date</th>
            <th scope="col">Description</th>
            <th scope="col">Amount</th>
            <th scope="col"><span class="vh">Action</span></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>07/11/2017</td>
            <td>Training provider</td>
            <td><span class="no-wrap">-£12,000.00</span></td>
            <td><a href="">Details <span class="vh">about the transaction to Training Provider</span></a></td>
        </tr>
        <tr>
            <td>07/11/2017</td>
            <td>Training provider</td>
            <td><span class="no-wrap">-£12,000.00</span></td>
            <td><a href="">Details <span class="vh">about the transaction to Training Provider</span></a></td>
        </tr>
        <tr>
            <td>07/11/2017</td>
            <td>Training provider</td>
            <td><span class="no-wrap">-£12,000.00</span></td>
            <td><a href="">Details <span class="vh">about the transaction to Training Provider</span></a></td>
        </tr>
        <tr>
            <td>07/11/2017</td>
            <td>Training provider</td>
            <td><span class="no-wrap">-£12,000.00</span></td>
            <td><a href="">Details <span class="vh">about the transaction to Training Provider</span></a></td>
        </tr>
        <tr>
            <td>07/11/2017</td>
            <td>Training provider</td>
            <td><span class="no-wrap">-£12,000.00</span></td>
            <td><a href="">Details <span class="vh">about the transaction to Training Provider</span></a></td>
        </tr>
        <tr>
            <td>07/11/2017</td>
            <td>Training provider</td>
            <td><span class="no-wrap">-£12,000.00</span></td>
            <td><a href="">Details <span class="vh">about the transaction to Training Provider</span></a></td>
        </tr>
    </tbody>
</table>