@model SFA.DAS.Support.Portal.Web.Models.Error.Error403ViewModel
@{
    ViewBag.Title = "You aren't approved – Apprenticeship service employer support tool";
    Layout = "~/Views/Shared/_PreAuthLayout.cshtml";
}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">
            You aren't approved to view this page
        </h1>
        <p class="govuk-body">To view this page, you need:</p>
        <ul class="govuk-list govuk-list--bullet govuk-!-margin-left-4">
            <li>approval to use this service</li>
            <li>the correct service role to access this page</li>
        </ul>
        @if (Model.UseDfESignIn)
        {
            <p class="govuk-body">
                You can <a href="@Model.HelpPageLink" target="_blank" rel="noopener noreferrer">request access to this service in your DfE Sign-in.</a> You can also use this link to request a higher service role.
            </p>
            <p class="govuk-body">
               The DfE Sign-in approver inside your organisation will need to approve your request.
            </p>
        }
    </div>
</div>