<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="Id" value="768c7ca2-f597-4bd7-986f-3749f4f0b24e"/>
    <add key="AppKey" value="Bqza6xgc+CV5MrQ5s6dMh1GjA7sJbXtKu110inX7Riw="/>
    <add key="ResourceId" value="https://citizenazuresfabisgov.onmicrosoft.com/das-support-subsite"/>
    <add key="Tenant" value="citizenazuresfabisgov.onmicrosoft.com"/>
    <add key="Authority" value="https://login.microsoftonline.com/citizenazuresfabisgov.onmicrosoft.com"/>
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.2" newVersion="4.1.1.2" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>